prisonerServices/datatype/%7Burn%3Acom%3Aappian%3Atypes%3APS%7DPS_Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:PS"
  xmlns:tns="urn:com:appian:types:PS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3APS%7DPS_Paragraph.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3APS%7DPS_Priority.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3APS%7DPS_Status.xsd"/>
  <xsd:complexType name="PS_Service">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="qckapp_ps_main")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0002ed73-f2a8-8000-1999-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0002ed73-f2a8-8000-1999-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Base data structure for a single Servicerecord]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="title" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="title")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" nillable="true" type="tns:PS_Status">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@JoinColumn(name="status") @ManyToOne(cascade=REFRESH)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="priority" nillable="true" type="tns:PS_Priority">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@JoinColumn(name="priority") @ManyToOne(cascade=REFRESH)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" nillable="true" type="tns:PS_Paragraph">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@JoinColumn(name="description") @OneToOne(cascade=ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="number")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="folderId" nillable="true" type="xsd:int"/>
      <xsd:element name="createdBy" nillable="true" type="xsd:string"/>
      <xsd:element name="createdOn" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="updatedBy" nillable="true" type="xsd:string"/>
      <xsd:element name="updatedOn" nillable="true" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
